<launch>
  <arg name="deep_motion_planning" default="False" />
  <arg name="global_planning" default="True" />
  <arg name="dwa_planning" default="False" />
  <arg name="executed_plan" default="ros" />
  
  <node name="planner_comparison" pkg="planner_comparison" type="planner_comparison_node.py"
    output="screen">
    <param name="executed_plan" type="string" value="$(arg executed_plan)" />
  </node>
  
 
  <include file="$(find planner_comparison)/launch/shapes_comparison.launch">
    <arg name="deep_motion_planning" value="False" />
  </include>
  
  <node name="deep_motion_planner" pkg="deep_motion_planner" type="deep_motion_planner_node.py"
    output="screen">
    <remap from="scan" to="base_scan"/>
    <param name="model_path" type="string" value="$(find deep_motion_planner)/models/" />
    <param name="use_checkpoints" type="bool" value="False" />
    <param name="protobuf_file" type="string" value="model.pb" />
    <remap from="cmd_vel" to="deep_planner/cmd_vel"/>
  </node>
  
</launch>