<launch>
  <node name="deep_motion_planner" pkg="deep_motion_planner" type="deep_motion_planner_node.py"
  output="screen">
    <remap from="scan" to="base_scan"/>
    <param name="model_path" type="string" value="$(find deep_motion_planner)/models/conv_vs_simple/2018-06-07_15-53_conv_combined" />
    <param name="use_conv_model" type="bool" value="False" />
    <param name="use_stochastic_policy" type="bool" value="True" />
    <param name="use_checkpoints" type="bool" value="False" />
    <param name="protobuf_file" type="string" value="model.pb" />
  </node>
</launch>
