<launch>
  <node name="deep_motion_planner" pkg="deep_motion_planner" type="deep_motion_planner_node.py"
  output="screen">
    <remap from="scan" to="base_scan"/>
    <param name="model_path" type="string" value="$(find deep_motion_planner)/trained_models/cnn_shapes_1000_500k" />
    <!--param name="pickle_weights_path" type="string" value="$(find deep_motion_planner)/models/reinforcement_learning/final_models/pure_rl-3maps.p" /-->
    <param name="pickle_weights_path" type="string" value="$(find deep_motion_planner)/trained_models_rl_nav/shapes_10+rl-3maps/weights/weights_actor200.p" />
    <param name="use_pickle_weights" type="bool" value="False" />
    <param name="use_checkpoints" type="bool" value="False" />
    <param name="protobuf_file" type="string" value="model.pb" />
    <param name="use_conv_model" type="bool" value="True" />
  </node>
</launch>
